#hero {
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}
#hero #bg {
  background-color: rgba(var(--black0), 0.75);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #bg section div h1 {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: rem-calc(100);
}
#hero #bg section aside button {
  border: none;
  background-color: #07579d;
  color: var(--white);
  padding: 20px 20px;
  font-size: rem-calc(25);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 20px;
}
#hero #bg section aside button i {
  margin-left: 16px;
}
