#hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    #overlay{
        background-color: rgba(var(--black0),0.75);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        section{

            h1{
                color: white;
                font-family: 'Shadows Into Light', cursive;
                font-weight: 400;
                font-size: rem-calc(100);
            }

            button{
                border: none;
                background-color: var(--blue);
                color: var(--white);
                padding: 20px 20px;
                font-size: rem-calc(25);

            }
        }
    }
}