#hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    #overlay{


        section{

            h1{

            }

            button{

            }
        }
    }
}